
@import url("https://use.typekit.net/auy8bpd.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

/* No @font-face here — handled by index.html */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000000(113, 59%, 52%);    /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #6a7257;  /* thumb color */
  border-radius: 4px;
  border: 2px solid #000;  /* creates padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
@keyframes spin3D {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
html, body, #root {
  background-color: black !important;
}
